@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'goorm-sans';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'goorm-sans';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-medium.woff2')
    format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'goorm-sans';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'goorm-sans';
  line-height: normal;
}

@layer components {
  .data-line {
    @apply h-[2px] origin-left transition ease-in-out;
  }
  .status-line[data-status='closed'] {
    @apply scale-x-0;
  }
  .data-slideDown {
    @apply transition ease-in-out;
  }
  .status-slideDown[data-status='closed'] {
    @apply scale-95 opacity-0;
  }
}
